<h4>Occurrences</h4>
<div *ngIf="!isValid"> Occurrences will be recalculated when changes are saved. </div>
<div *ngIf="children.length > 0" [ngStyle]="{'max-height': '60vh', 'overflow-y': 'scroll'}">
   <table class="table">
      <tbody>
         <tr *ngFor="let child of children; let i = index">
            <td>
               <div class="center">
                  {{child.date}}
                  <span *ngIf="nextChildId === child.id" class="badge badge-pill badge-warning">Upcoming next</span>
               </div>
            </td>
            <td class="pull-right">
               <div>
                  <button class="btn btn-primary material-icons" [disabled]="realisingChildId !== null" (click)="onOpenChildClick(child)"
                     data-toggle="tooltip" data-placement="bottom" title="Edit {{child.date}}">
                     <span *ngIf="realisingChildId !== child.id">edit</span>
                     <span *ngIf="realisingChildId === child.id" class="spinner-border spinner-border-sm"></span>
                  </button>
               </div>
            </td>
         </tr>
      </tbody>
   </table>
</div>
