<h4>Occurrences</h4>
<div *ngIf="dateMessage !== null"> {{ dateMessage }} </div>
<div *ngIf="children.length > 0" [ngStyle]="{'max-height': '60vh', 'overflow-y': 'scroll'}">
   <table class="table">
      <tbody>
         <tr *ngFor="let child of children; let i = index">
            <td>
               <div class="center">
                  {{child.date}}
                  <span *ngIf="nextChildIncome === child.id" class="badge badge-pill badge-warning">Upcoming next</span>
               </div>
            </td>
            <td class="pull-right">
               <div>
                  <button class="btn btn-primary" [disabled]="realisingChild !== null" (click)="onOpenChildClick(child)"
                     data-toggle="tooltip" data-placement="bottom" title="{{openToolTip}} {{child.date}}">
                     <span *ngIf="realisingChild !== child.id">🖉</span>
                     <span *ngIf="realisingChild === child.id" class="spinner-border spinner-border-sm"></span>
                  </button>
               </div>
            </td>
         </tr>
      </tbody>
   </table>
</div>
