################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MyMoney.Core/bin
/MyMoney.Core/obj
/MyMoney.Infrastructure/bin
/MyMoney.Infrastructure/obj
/MyMoney.Core.Tests/obj
/MyMoney.Core/bin
/MyMoney.Infrastructure/bin
/MyMoney.Core.Tests/bin
/MyMoney.Web/bin