<div class="header">
   <h2 *ngIf="loadingTransaction">Loading transaction {{id}}</h2>
   <h2 *ngIf="!loadingTransaction">Edit transaction {{id}} {{ frequencyString }}</h2>
   <div>
      <a class="btn btn-link" *ngIf="parentId !== null" routerLink="/transactions/edit-recurring/{{parentId}}">
         Parent recurring transaction
      </a>
   </div>
</div>
<div class="row">
   <div class="col-6">
      <form [formGroup]="editTransactionForm" (ngSubmit)="onSubmit()">
         <div class="form-group">
            <label for="date">Date</label>
            <input type="date" formControlName="date" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.date.errors }"
               (change)="onDateChange()" />
            <div *ngIf="submitted && f.date.errors" class="invalid-feedback">
               <div *ngIf="f.date.errors.required">Date is required</div>
            </div>
         </div>
         <div class="form-group">
            <label for="description">Description</label>
            <input type="text" formControlName="description" class="form-control"
               [ngClass]="{ 'is-invalid': submitted && f.description.errors }" />
            <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
               <div *ngIf="f.description.errors.required">Description is required</div>
            </div>
         </div>
         <div class="form-group">
            <label for="amount">Amount</label>
            <input type="number" formControlName="amount" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.amount.errors }" />
            <div *ngIf="submitted && f.amount.errors" class="invalid-feedback">
               <div *ngIf="f.amount.errors.required">Amount is required</div>
               <div *ngIf="f.amount.errors.min">Amount cannot be negative</div>
            </div>
         </div>
         <div class="form-group">
            <label for="notes">Notes</label>
            <textarea formControlName="notes" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.notes.errors }"
               rows="3"></textarea>
            <div *ngIf="submitted && f.notes.errors" class="invalid-feedback"></div>
         </div>
         <div class="form-group">
            <button [disabled]="loading" class="btn btn-primary">
               <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
               Save changes
            </button>
            <a routerLink="/transactions" class="btn btn-link">Cancel</a>
         </div>
      </form>
   </div>
   <div class="col-6">
      <mymoney-budget-selector [selectedBudgets]="selectedBudgets"></mymoney-budget-selector>
      <mymoney-income-selector [selectedIncomes]="selectedIncomes"></mymoney-income-selector>
   </div>
</div>
