<h2>Forgot password</h2>
<form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
   <div class="form-group">
      <label for="email">Email</label>
      <input type="text" name="email" formControlName="email" class="form-control"
         [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
      <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
         <div *ngIf="f.email.errors.required">Email is required</div>
      </div>
   </div>
   <div class="form-group">
      <button [disabled]="loading || submitted" class="btn btn-primary">
         <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
         Send email
      </button>
      <a routerLink="/auth/login" class="btn btn-link">Cancel</a>
   </div>
   <div *ngIf="message !== null" class="alert alert-info" role="alert">
      {{ message }}
   </div>
</form>