.check-box {
   -webkit-touch-callout: none; /* iOS Safari */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Old versions of Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
   user-select: none;
}

.check-box-enabled {
   cursor: pointer;
}

.check-box-disabled {
   cursor: not-allowed;
}

.check-box-checked {
   color: #1b6ec2;
}
