<h2>Edit recurring transaction {{id}}</h2>
<div class="row">
   <div class="col-7">
      <form [formGroup]="editTransactionForm" (ngSubmit)="onSubmit()">
         <label>Duration</label>
         <div class="form-inline">
            <div class="input-group mb-3 pr-2" [ngStyle]="{ 'width': '50%'}">
               <div class="input-group-prepend">
                  <span class="input-group-text">Start</span>
               </div>
               <input type="date" formControlName="start" class="form-control" (change)="onDurationOrRecurrenceChange()"
                  [ngClass]="{ 'is-invalid': submitted && editTransactionFormControls.start.errors }" />
               <div *ngIf="submitted && editTransactionFormControls.start.errors" class="invalid-feedback">
                  <div *ngIf="editTransactionFormControls.start.errors['required']">Start is required</div>
               </div>
            </div>
            <div class="input-group mb-3" [ngStyle]="{ 'width': '50%'}">
               <div class="input-group-prepend">
                  <span class="input-group-text">End</span>
               </div>
               <input type="date" formControlName="end" class="form-control" (change)="onDurationOrRecurrenceChange()"
                  [ngClass]="{ 'is-invalid': submitted && editTransactionFormControls.end.errors }" />
               <div *ngIf="submitted && editTransactionFormControls.end.errors" class="invalid-feedback">
                  <div *ngIf="editTransactionFormControls.end.errors['required']">End is required</div>
               </div>
            </div>
         </div>
         <div class="form-group">
            <label for="recurrence">Recurrence</label>
            <select class="form-control" formControlName="recurrence" [ngClass]="{ 'is-invalid': submitted && editTransactionFormControls.recurrence.errors }"
               (change)="onDurationOrRecurrenceChange()">
               <option *ngFor="let opt of recurrenceOptions" [value]="opt.key" [selected]="opt.key == editTransactionFormControls.recurrence.value">{{ opt.value }}
               </option>
            </select>
            <div *ngIf="submitted && editTransactionFormControls.recurrence.errors" class="invalid-feedback">
               <div *ngIf="editTransactionFormControls.recurrence.errors['required']">Recurrence is required</div>
               <div *ngIf="editTransactionFormControls.recurrence.errors['invalidFrequency']">Invalid recurrence value</div>
            </div>
         </div>
         <div class="form-group">
            <label for="description">Description</label>
            <input type="text" formControlName="description" class="form-control"
               [ngClass]="{ 'is-invalid': submitted && editTransactionFormControls.description.errors }" />
            <div *ngIf="submitted && editTransactionFormControls.description.errors" class="invalid-feedback">
               <div *ngIf="editTransactionFormControls.description.errors['required']">Description is required</div>
            </div>
         </div>
         <div class="form-group">
            <label for="amount">Amount</label>
            <input type="number" formControlName="amount" class="form-control" [ngClass]="{ 'is-invalid': submitted && editTransactionFormControls.amount.errors }" />
            <div *ngIf="submitted && editTransactionFormControls.amount.errors" class="invalid-feedback">
               <div *ngIf="editTransactionFormControls.amount.errors['required']">Amount is required</div>
               <div *ngIf="editTransactionFormControls.amount.errors['min']">Amount cannot be less than 0.01</div>
            </div>
         </div>
         <div class="form-group">
            <label for="notes">Notes</label>
            <textarea formControlName="notes" class="form-control" [ngClass]="{ 'is-invalid': submitted && editTransactionFormControls.notes.errors }"
               rows="3"></textarea>
            <div *ngIf="submitted && editTransactionFormControls.notes.errors" class="invalid-feedback"></div>
         </div>
         <div class="form-group">
            <button [disabled]="loading" class="btn btn-primary">
               <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
               Save changes
            </button>
            <a routerLink="/transactions" class="btn btn-link">Cancel</a>
         </div>
      </form>
   </div>
   <div class="col-5">
      <mymoney-recurring-child-list [realisingChildId]="realisingChild" [isValid]="isValid" [children]="children"
         (openChild)="addOrEditTransaction($event)"></mymoney-recurring-child-list>
   </div>
</div>