<h2>Change password</h2>
<form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
   <div class="form-group">
      <label for="password">New password</label>
      <input
         type="password"
         name="password"
         formControlName="password"
         autocomplete="new-password"
         class="form-control"
         [ngClass]="{
            'is-invalid':
               submitted && changePasswordFormControls.password.errors
         }"
      />
      <div
         *ngIf="submitted && changePasswordFormControls.password.errors"
         class="invalid-feedback"
      >
         <div *ngIf="changePasswordFormControls.password.errors['required']">
            Password is required
         </div>
         <div *ngIf="changePasswordFormControls.password.errors['minlength']">
            Password must be at least 8 characters
         </div>
         <div *ngIf="changePasswordFormControls.password.errors['maxlength']">
            Password cannot be longer that 15 characters
         </div>
      </div>
   </div>
   <div class="form-group">
      <label for="confirmPassword">Confirm new password</label>
      <input
         type="password"
         name="confirm-password"
         formControlName="confirmPassword"
         class="form-control"
         [ngClass]="{
            'is-invalid':
               submitted && changePasswordFormControls.confirmPassword.errors
         }"
      />
      <div
         *ngIf="submitted && changePasswordFormControls.confirmPassword.errors"
         class="invalid-feedback"
      >
         <div
            *ngIf="changePasswordFormControls.confirmPassword.errors['notSame']"
         >
            Passwords do not match
         </div>
      </div>
   </div>
   <div class="form-group">
      <button [disabled]="loading" class="btn btn-primary">
         <span
            *ngIf="loading"
            class="spinner-border spinner-border-sm mr-1"
         ></span>
         Change password
      </button>
      <a routerLink="/" class="btn btn-link">Cancel</a>
   </div>
   <div *ngIf="error !== null" class="alert alert-danger" role="alert">
      Change password failed: {{ error }}
   </div>
</form>
