<h2>Budgets</h2>
<form [formGroup]="monthIdForm" (ngSubmit)="onSubmit()">
   <div class="form-inline">
      <div class="input-group mb-3 pr-2">
         <div class="input-group-prepend">
            <span class="input-group-text">Year</span>
         </div>
         <input type="number" formControlName="year" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.year.errors }"
            (change)="updateBudgets($event)" />
         <div *ngIf="submitted && f.year.errors" class="invalid-feedback">
            <div *ngIf="f.year.errors.required">year is required</div>
         </div>
      </div>
      <div class="input-group mb-3 pr-2">
         <div class="input-group-prepend">
            <span class="input-group-text">Month</span>
         </div>
         <input type="number" formControlName="month" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.month.errors }"
            (change)="updateBudgets($event)" />
         <div *ngIf="submitted && f.month.errors" class="invalid-feedback">
            <div *ngIf="f.month.errors.required">month is required</div>
         </div>
      </div>
      <div class="input-group mb-3 pr-2 btn-group">
         <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            <div *ngIf="!loading" class="spin">↻</div>
         </button>
         <a class="btn btn-success" routerLink="./add">Add</a>
      </div>
   </div>
</form>
<div class="container-fluid">
   <table class="table">
      <thead>
         <tr>
            <th scope="col">Name</th>
            <th scope="col">Amount</th>
            <th scope="col">Remaining</th>
            <th scope="col">Notes</th>
            <th scope="col"></th>
         </tr>
      </thead>
      <tbody>
         <tr *ngFor="let budget of budgets; let i = index">
            <td>{{budget.name}}</td>
            <td>{{budget.amount}}</td>
            <td>{{budget.remaining}}</td>
            <td>{{budget.notes}}</td>
            <td style="min-width:120px">
               <div class="btn-group">
                  <a class="btn btn-primary" routerLink="./edit/{{budget.id}}">🖉</a>
                  <button class="btn btn-danger" (click)="delete(budget.id)">✕</button>
               </div>
            </td>
         </tr>
      </tbody>
   </table>
</div>