<h2>Budgets</h2>
<form [formGroup]="monthIdForm" (ngSubmit)="updateBudgets()">
   <div class="form-inline">
      <div class="input-group mb-3 pr-2">
         <div class="input-group-prepend">
            <span class="input-group-text">Year</span>
         </div>
         <input type="number" formControlName="year" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.year.errors }"
            (change)="updateBudgets()" />
         <div *ngIf="submitted && f.year.errors" class="invalid-feedback">
            <div *ngIf="f.year.errors.required">Year is required</div>
            <div *ngIf="f.year.errors.min">Year cannot be less than 1980</div>
         </div>
      </div>
      <div class="input-group mb-3 pr-2">
         <div class="input-group-prepend">
            <span class="input-group-text">Month</span>
         </div>
         <input type="number" formControlName="month" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.month.errors }"
            (change)="updateBudgets()" />
         <div *ngIf="submitted && f.month.errors" class="invalid-feedback">
            <div *ngIf="f.month.errors.required">Month is required</div>
            <div *ngIf="f.month.errors.min">Month cannot be less than 1</div>
            <div *ngIf="f.month.errors.max">Month cannot be greater than 12</div>
         </div>
      </div>
      <div class="input-group mb-3 pr-2 btn-group">
         <button [disabled]="loading" class="btn btn-primary material-icons" data-toggle="tooltip" data-placement="bottom"
            title="Refresh budgets">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            <div *ngIf="!loading" class="spin">refresh</div>
         </button>
         <a class="btn btn-success material-icons" routerLink="./add" data-toggle="tooltip" data-placement="bottom" title="Add new budget">
            add
         </a>
      </div>
   </div>
</form>
<div class="container-fluid">
   <table class="table">
      <thead>
         <tr>
            <th scope="col">Name</th>
            <th scope="col">Amount</th>
            <th scope="col">Remaining</th>
            <th scope="col">Notes</th>
            <th scope="col"></th>
         </tr>
      </thead>
      <tbody>
         <tr *ngFor="let budget of budgets; let i = index">
            <td>{{budget.name}}</td>
            <td>{{budget.amount}}</td>
            <td [ngClass]="{ 'text-danger': budget.showWarning }">{{budget.remaining}}</td>
            <td>{{budget.notes}}</td>
            <td class="pull-right">
               <div class="btn-group">
                  <a class="btn btn-primary material-icons" routerLink="./edit/{{budget.id}}" data-toggle="tooltip" data-placement="bottom"
                     title="Edit budget {{budget.id}}">edit</a>
                  <button class="btn btn-danger material-icons" (click)="delete(budget.id)" data-toggle="tooltip" data-placement="bottom"
                     title="Delete budget {{budget.id}}">delete</button>
               </div>
            </td>
         </tr>
      </tbody>
   </table>
</div>
