<h2>Profile</h2>
<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
   <div class="form-group">
      <label for="email">Email</label>
      <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
      <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
         <div *ngIf="f.email.errors.required">Email is required</div>
      </div>
   </div>
   <div class="form-group">
      <label for="fullName">Full name</label>
      <input type="text" formControlName="fullName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.fullName.errors }" />
      <div *ngIf="submitted && f.fullName.errors" class="invalid-feedback">
         <div *ngIf="f.fullName.errors.required">Full Name is required</div>
      </div>
   </div>
   <div class="form-group">
      <label for="dateOfBirth">Data of birth</label>
      <input type="date" formControlName="dateOfBirth" class="form-control"
         [ngClass]="{ 'is-invalid': submitted && f.dateOfBirth.errors }" />
      <div *ngIf="submitted && f.dateOfBirth.errors" class="invalid-feedback">
         <div *ngIf="f.dateOfBirth.errors.required">Date of birth is required</div>
      </div>
   </div>
   <div class="form-group">
      <button [disabled]="loading" class="btn btn-primary">
         <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
         Save
      </button>
      <a routerLink="/" class="btn btn-link">Cancel</a>
   </div>
   <div *ngIf="error !== null" class="alert alert-danger" role="alert">
      Save failed: {{ error }}
   </div>
</form>