<h2>Reset password</h2>
<form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
   <div class="form-group">
      <label for="password">New password</label>
      <input
         type="password"
         name="password"
         formControlName="password"
         autocomplete="new-password"
         class="form-control"
         [ngClass]="{
            'is-invalid': submitted && resetPasswordFormControls.password.errors
         }"
      />
      <div
         *ngIf="submitted && resetPasswordFormControls.password.errors"
         class="invalid-feedback"
      >
         <div *ngIf="resetPasswordFormControls.password.errors['required']">
            Password is required
         </div>
         <div *ngIf="resetPasswordFormControls.password.errors['min']; length">
            Password must be at least 8 characters
         </div>
         <div *ngIf="resetPasswordFormControls.password.errors['maxlength']">
            Password cannot be longer that 15 characters
         </div>
      </div>
   </div>
   <div class="form-group">
      <label for="confirmPassword">Confirm new password</label>
      <input
         type="password"
         name="confirm-password"
         formControlName="confirmPassword"
         class="form-control"
         [ngClass]="{
            'is-invalid':
               submitted && resetPasswordFormControls.confirmPassword.errors
         }"
      />
      <div
         *ngIf="submitted && resetPasswordFormControls.confirmPassword.errors"
         class="invalid-feedback"
      >
         <div
            *ngIf="resetPasswordFormControls.confirmPassword.errors['notSame']"
         >
            Passwords do not match
         </div>
      </div>
   </div>
   <div class="form-group">
      <button [disabled]="loading" class="btn btn-primary">
         <span
            *ngIf="loading"
            class="spinner-border spinner-border-sm mr-1"
         ></span>
         Reset password
      </button>
   </div>
   <div *ngIf="error !== null" class="alert alert-danger" role="alert">
      Reset password failed: {{ error }}
   </div>
</form>
