<div style="min-height: 500px;">
   <ngx-charts-line-chart [scheme]="colorScheme" [legend]="legend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
      [xAxis]="xAxis" [yAxis]="yAxis" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" [timeline]="timeline" [results]="seriesData"
      (select)="onSelect($event)">
      <ng-template #tooltipTemplate let-model="model">
         {{ (model.id === -1 ? model.series : model.date) }} • {{ model.name }} • £{{ model.amount }}
      </ng-template>
   </ngx-charts-line-chart>
</div>