<h2>Incomes</h2>
<form [formGroup]="dateForm" (ngSubmit)="updateIncomes()">
   <div class="form-inline">
      <div class="input-group mb-3 pr-2">
         <div class="input-group-prepend">
            <span class="input-group-text">Start</span>
         </div>
         <input type="date" formControlName="start" class="form-control" (change)="updateIncomes()"
            [ngClass]="{ 'is-invalid': submitted && f.start.errors }" />
         <div *ngIf="submitted && f.start.errors" class="invalid-feedback">
            <div *ngIf="f.start.errors.required">Start is required</div>
         </div>
      </div>
      <div class="input-group mb-3 pr-2">
         <div class="input-group-prepend">
            <span class="input-group-text">End</span>
         </div>
         <input type="date" formControlName="end" class="form-control" (change)="updateIncomes()"
            [ngClass]="{ 'is-invalid': submitted && f.end.errors }" />
         <div *ngIf="submitted && f.end.errors" class="invalid-feedback">
            <div *ngIf="f.end.errors.required">End is required</div>
         </div>
      </div>
      <div class="input-group mb-3 pr-2 btn-group">
         <button [disabled]="loading" class="btn btn-primary material-icons" data-toggle="tooltip" data-placement="bottom"
            title="Refresh incomes">
            <span *ngIf="loading" class="spinner-border spinner-border-sm"></span>
            <div *ngIf="!loading" class="spin">refresh</div>
         </button>
         <a class="btn btn-success material-icons" routerLink="./add" data-toggle="tooltip" data-placement="bottom" title="Add new income">
            add
         </a>
         <a class="btn btn-success material-icons" routerLink="./import" data-toggle="tooltip" data-placement="bottom"
            title="Import incomes from file">upload</a>
      </div>
   </div>
</form>
<div class="container-fluid">
   <table class="table">
      <thead>
         <tr>
            <th scope="col">Date</th>
            <th scope="col">Name</th>
            <th scope="col">Amount</th>
            <th scope="col">Remaining</th>
            <th scope="col"></th>
         </tr>
      </thead>
      <tbody>
         <tr *ngFor="let income of incomes; let i = index">
            <td>{{income.date}}</td>
            <td>{{income.name}}</td>
            <td>{{income.amount}}</td>
            <td [ngClass]="{ 'text-danger': income.showWarning }">{{income.remaining}}</td>
            <td class="pull-right">
               <div class="btn-group">
                  <a class="btn btn-primary material-icons" *ngIf="income.id > 0" routerLink="./edit/{{income.id}}" data-toggle="tooltip"
                     data-placement="bottom" title=" Edit income {{income.id}}">edit</a>
                  <a class="btn btn-primary material-icons" *ngIf="income.parentId !== null"
                     routerLink="./edit-recurring/{{income.parentId}}" data-toggle="tooltip" data-placement="bottom"
                     title="Edit recurring income {{income.parentId}}">list</a>
                  <button class="btn btn-danger material-icons" *ngIf="income.parentId !== null"
                     (click)="deleteRecurringIncome(income.parentId)" data-toggle="tooltip" data-placement="bottom"
                     title="Delete recurring income {{income.parentId}}">delete</button>
                  <button class="btn btn-danger material-icons" *ngIf="income.parentId === null" (click)="deleteIncome(income.id)"
                     data-toggle="tooltip" data-placement="bottom" title="Delete income {{income.id}}">delete</button>
               </div>
            </td>
         </tr>
      </tbody>
   </table>
</div>
