<h2>Transactions</h2>
<form [formGroup]="dateRangeForm" (ngSubmit)="updateTransactions()">
   <div class="form-inline">
      <div class="input-group mb-3 pr-2">
         <div class="input-group-prepend">
            <span class="input-group-text">Start</span>
         </div>
         <input type="date" formControlName="start" class="form-control" (change)="updateTransactions()"
            [ngClass]="{ 'is-invalid': submitted && f.start.errors }" />
         <div *ngIf="submitted && f.start.errors" class="invalid-feedback">
            <div *ngIf="f.start.errors.required">Start is required</div>
         </div>
      </div>
      <div class="input-group mb-3 pr-2">
         <div class="input-group-prepend">
            <span class="input-group-text">End</span>
         </div>
         <input type="date" formControlName="end" class="form-control" (change)="updateTransactions()"
            [ngClass]="{ 'is-invalid': submitted && f.end.errors }" />
         <div *ngIf="submitted && f.end.errors" class="invalid-feedback">
            <div *ngIf="f.end.errors.required">End is required</div>
         </div>
      </div>
      <div class="input-group mb-3 pr-2 btn-group">
         <button [disabled]="loading" class="btn btn-primary" data-toggle="tooltip" data-placement="bottom" title="Refresh transactions">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            <div *ngIf="!loading" class="spin">↻</div>
         </button>
         <a class="btn btn-success" routerLink="./add" data-toggle="tooltip" data-placement="bottom" title="Add new transaction">
            <div class="plus"></div>
         </a>
         <a class="btn btn-success" routerLink="./import" data-toggle="tooltip" data-placement="bottom"
            title="Import transactions from file">🗁</a>
      </div>
   </div>
</form>
<div class="container-fluid">
   <table class="table">
      <thead>
         <tr>
            <th scope="col">Date</th>
            <th scope="col">Description</th>
            <th scope="col">Amount</th>
            <th scope="col"></th>
         </tr>
      </thead>
      <tbody>
         <tr *ngFor="let transaction of transactions; let i = index">
            <td>{{transaction.date}}</td>
            <td>{{transaction.description}}</td>
            <td>{{transaction.amount}}</td>
            <td>
               <div *ngIf="transaction.recurringTransactionId !== null" class="btn-group">
                  <a class="btn btn-primary" routerLink="./edit-recurring/{{transaction.recurringTransactionId}}" data-toggle="tooltip"
                     data-placement="bottom" title="Edit recurring transaction {{transaction.recurringTransactionId}}">🖉</a>
                  <button class="btn btn-danger" (click)="deleteRecurringTransaction(transaction.recurringTransactionId)"
                     data-toggle="tooltip" data-placement="bottom"
                     title="Delete recurring transaction {{transaction.recurringTransactionId}}">✕</button>
               </div>
               <div *ngIf="transaction.recurringTransactionId === null" class="btn-group">
                  <a class="btn btn-primary" routerLink="./edit/{{transaction.id}}" data-toggle="tooltip" data-placement="bottom"
                     title=" Edit transaction {{transaction.id}}">🖉</a>
                  <button class="btn btn-danger" (click)="deleteTransaction(transaction.id)" data-toggle="tooltip" data-placement="bottom"
                     title="Delete transaction {{transaction.id}}">✕</button>
               </div>
            </td>
         </tr>
      </tbody>
   </table>
</div>
